*{
    background-color: rgb(156, 134, 134);
    
    text-align: center;
}
#container{
    border: 2px solid black;
    width: 300px;
    height: 200px;
    margin-top: 100px;
    
    margin-left: 500px;
}